@model Projet_Transport.Models.trajet
<h2>Liste des articles</h2>



<table class="table">
    <tr>
        <th>id</th>
        <th>Ville_depart</th>
        <th>Ville_arrive</th>
        <th>Date_depart</th>
        <th>Date_arrive</th>
        <th>prix</th>
        <th>Action</th>

    </tr>

    @{ foreach (var traj in ViewBag.trajets)
                    {

        <tr>
            <td>@traj.id</td>
            <td>@traj.ville.nomVille</td>
            <td>@traj.ville1.nomVille</td>

            <td>@traj.Date_depart</td>
            <td>@traj.Date_arrive</td>
            <td>@traj.prix</td>
            <td>
                @Html.ActionLink("Supprimer", "deleteT", new { id = traj.id })//
                @Html.ActionLink("modifier", "EditT", new { id = traj.id })
            </td>


        </tr> } }

</table>

<button onclick="window.location.href = '/Societe/AddTrajet';" type="submit" class="btn btn-secondary">Nouveau trajet </button>