@model IEnumerable<Projet_Transport.Models.reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_reservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTrajet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_reservation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTrajet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
